#df {
    background-color :#E9ECEF;
}
#h1 {
    color: red;
}

#h3 {
    color:darkgoldenrod;
}

#h9 {
    color: purple;
}

#vizyon {
    color:darkgoldenrod;
}

#misyon {
    color:darkgoldenrod;
}
.hakkimizda {
    background-color: #E9ECEF;
}